body
{
    color: #d9d4d4;
    background-color: #000000;

    background-image: url('./pexels-mikechie-esparagoza-1742370.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}

h1
{
    color:rgb(59, 155, 42);
    background-color: #c7b2b2;
    font-size: 20px;
}


h2
{
color:#5f449e;
background-color: #dedeef;
font-size:15px;
}

h3
{
    color:#584585;
    font-size:15px;
}

.individualTaskDetails
{
    background-color: #d9d4d4;
}

.individualTaskDetails p
{
font-size:15px;
font-weight: 100;
color:#1aa739;
}

.deleteButton
{
font-size:15px;
font-weight: 800;
background-color:#c50505;
}

.editButton
{
font-size:15px;
font-weight: 800;
background-color:#4a4dfa;
}



.softwareArchitecture
{
    background-color: #290303;
}

.appContainer
{
display:grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr;


}

.menuPane
{
background-color: #251e1e;
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 1;

display:flex;
flex-direction: column;

}

.mainPane
{
background-color: #231a1a;
grid-column-start: 2;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 1;


}

button
{
background-color: #1aa739;
}





