body
{
    color: #d9d4d4;
    background-color: #000000;

    background-image: url('./pexels-mikechie-esparagoza-1742370.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
       
}

h1
{
    color:rgb(8, 26, 5);
    background-color: #b3b3b3;
    font-size: 20px;
    opacity:0.8;
}


h2
{
    color:#211e2a;
    background-color: #dedeef;
    opacity: 0.8;
    font-size:15px;
}

h3
{
    color:#584585;
    font-size:15px;
}

.individualTaskDetails
{
    background-color: #d9d4d4;
    opacity: 0.8;
}

.individualTaskDetails p
{
    font-size:15px;
    font-weight: 100;
    color:#1aa739;
}

.deleteButton
{
    font-size:15px;
    font-weight: 800;
    background-color:#e50606;
}

.editButton
{
    font-size:15px;
    font-weight: 800;
    background-color:#5a5cf5;
}


.appContainer
{
    display:grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 2fr 1fr 2fr;
    gap:10px;
    opacity: 0.9;
}

.menuPane
{
    background-color: #251e1e;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    /* justify-content: center;
    align-items:center; */
    /* flex:1 1 5px; */
    
}

.taskDisplay
{
    background-color: #231a1a;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    /* align-items:flex-start; */
    /* flex:1 1 5px; */
    
}

.individualTaskDetails
{
    display:flex;
    flex-direction:column;
    /* justify-content: center;
    align-items: center; */
    /* flex:1 1 10px; */
}

.softwareArchitecture
{
    background-color: #290303;
    opacity: 0.9;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

button
{
    background-color: #1aa739;
}





