body
{
    color: #d9d4d4;
    background-color: #000000;

    background-image: url('./pexels-mikechie-esparagoza-1742370.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
       
}

h1
{
    color:rgb(8, 26, 5);
    background-color: #b3b3b3;
    font-size: 2rem;
    opacity:0.8;
}


h2
{
    color:#211e2a;
    background-color: #dedeef;
    opacity: 0.8;
    font-size:1.2rem;
}

h3
{
    color:#584585;
    font-size:1.25rem;
}

.deleteButton
{
    font-size:15px;
    font-weight: 800;
    width:7rem;
    height:3rem;
    background-color:#e50606;
}

.editButton
{
    font-size:15px;
    font-weight: 800;
    width:7rem;
    height:3rem;
    background-color:#5a5cf5;
}

.completeButton
{
    font-size:15px;
    font-weight: 800;
    width:7rem;
    height:3rem;
    background-color:#ebc333; 
}

.appContainer
{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 2fr;
    gap:10px;
    opacity: 0.9;
}

.menuPane
{
    background-color: #251e1e;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display:flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
    /* justify-content: center;
    align-items:center; */
    /* flex:1 1 5px; */
    
}

.newTaskDiv
{
    border: 1px solid black;

    /* inset: unset; */
}

.taskDisplay
{
    background-color: #231a1a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display:flex;
    flex-direction:column;
    justify-content:left;
    /* flex-wrap: wrap; */
    /* flex:1 5 0%; */
    
    
    
    /* justify-content: center; */
    /* align-items:flex-start; */
    /* flex:1 1 5px; */
    
}

.individualTaskDetails
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* flex-wrap: wrap; */
    flex-shrink: 1;
    /* row-gap: 1rem; */

    background-color: #d9d4d4;
    opacity: 0.8;

    width: 400px;
    height:300px;
    }


.individualTaskDetails p
{
    font-size:1rem;
    font-weight: 100;
    color:#010b04;
}

.softwareArchitecture
{
    background-color: #290303;
    opacity: 0.9;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    flex-direction: column;
}

button
{
    background-color: #1aa739;
}

.taskCompleted
{
    background-color: #1beb25;
}




